{
//  "extends": "airbnb",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true,
      "experimentalObjectRestSpread": true
    }
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "jsx-quotes": [
      2,
      "prefer-single"
    ],
    "comma-dangle": ["error", {
        "arrays": "never",
        "objects": "never",
        "imports": "never",
        "exports": "never",
        "functions": "ignore"
    }],
    "import/prefer-default-export": ["off"],
    "react/forbid-prop-types": ["off"],
    "class-methods-use-this": ["off"],
    "jsx-a11y/no-static-element-interactions": ["off"],
    "jsx-a11y/anchor-is-valid": ["off"],
    "jsx-a11y/click-events-have-key-events": ["off"],
    "react/prop-types": ["error", {"skipUndeclared": true}],
    "jsx-a11y/label-has-for": ["off"]
  },
  "env": {
    "browser": true
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack/webpack.config.js"
      }
    }
  },
  "globals": {
    "particlesJS": false
  }
}
