.flex-container {
  display: flex;
}

.identity-card {
  margin: 0 1rem 1rem 0;

  .card-content {
    display: flex;
  }

  .identicon {
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
  }

}