.flex-container {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

.identity-card {
  margin: 0 1rem 1rem 0;
  cursor: pointer;

  &.card {
    background-color: #E7E7E7;
  }

  .card-content {
    display: flex;
  }

  .identicon {
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
  }

}