.identity-detail {

  h2 {
    font-family: Avenir next;
    font-weight: 600;
    font-size: 125%;
  }

  .title-p2 {
    margin-left: 0.7rem;
  }

  .identicon {
    border-radius: 50%;
    width: 7rem;
    height: 7rem;

    &.small {
      width: 4rem;
      height: 4rem;
    }
  }

  .balance {
    font-weight: 500;
  }

  .flex-column {
    flex-direction: column;
    background-color: #F8F8F8;

    .tabs {
      margin-left: 1rem;

      .is-active {
        background-color: white;
        border-top: #3273dc 1px solid;
        a {
          border-bottom: none;
        }
      }
    }
  }

  .identity-content {
    background-color: white;

    .table {
      background-color: white;
    }
  }

}