$fa-font-path: "~font-awesome/fonts";
@import '~bulma/sass/utilities/initial-variables.sass';
@import '~bulma/sass/utilities/functions';
@import '~font-awesome/scss/font-awesome.scss';

$dark-blue: #004681;
$body-background-color: rgba(0, 40, 74, 0.95);

$family-serif: 'Open Sans', serif;
$family-primary: $family-serif;

$title-color: $white;

$navbar-background-color: $dark-blue !important;
$navbar-item-color: $white !important;
$navbar-item-hover-background-color: lighten($dark-blue, 10%) !important;

$footer-background-color: transparent;

@import '~bulma/bulma.sass';
